.sectionSelected
{
    color:white !important;
}

.brushSelected
{
    color:white !important;
}


html
{
    height: 100%;
}

body
{
    min-height: 100%;
    margin:0;
}

#layoutContainer
{
    display: flex;
    height: calc(100vh - 3px);
}

#toolbar
{
    min-width:16vw;
}

#container
{
    width: 84vw;
    position: relative;
}

#sections
{
    height:35vh;
    display: block;
}

#colorPalette
{
    display: block;
}

.brush_option,.mode_option,.mirror_option,.axis_option
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.colorPaletteButton.colorPaletteSelected {
    border: 2px solid black ;
    outline: 2px solid grey;
    width: 26px;
    height: 16px;
    vertical-align: top;
    outline-offset: -2px;
}

.colorPaletteButton
{
    display: inline-block;
    -webkit-appearance:none;
    border-image: none;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 20px;
}



